---
const { color, title, subtitle, underline, extraAnchorTag } = Astro.props
const textColor = `text-${color}`
const isUnderline = `${textColor} text-sm underline underline-offset-4`
---

<section
  class='landing-section bg-black h-screen w-screen text-center overflow-hidden relative'
  data-header-color={color}
>
  <div class='z-30 relative h-full flex flex-col'>
    <header>
      <h2 class={`${textColor} pt-32 text-[40px] font-medium`}>
        {title}
      </h2>
      <p class={underline ? isUnderline : `${textColor} text-sm`}>
        {subtitle}
      </p>
    </header>
    <footer
      class={extraAnchorTag
        ? 'flex flex-col flex-grow justify-end pb-16'
        : 'flex flex-col flex-grow justify-end pb-20'}
    >
      <slot name='footer' />
    </footer>
    {
      extraAnchorTag ? (
        <p class='absolute left-0 right-0 ml-auto mr-auto bottom-4 text-xs underline underline-offset-4'>
          <a href='#'>Disponible con Moves III</a>
        </p>
      ) : null
    }
  </div>
  <div class='absolute top-0 bottom-0 h-full w-full z-10'>
    <slot name='background' />
  </div>
</section>
